function Snake.new 0
push constant 4
call Memory.alloc 1
pop pointer 0
push constant 100
call Array.new 1
pop this 0
push constant 100
call Array.new 1
pop this 1
push constant 3
pop this 2
push constant 0
pop this 3
push constant 0
push this 0
add
push constant 13
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push this 1
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push this 0
add
push constant 13
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push this 1
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push this 0
add
push constant 13
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push this 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push pointer 0
return
function Snake.getHeadX 0
push argument 0
pop pointer 0
push this 3
push this 0
add
pop pointer 1
push that 0
return
function Snake.getHeadY 0
push argument 0
pop pointer 0
push this 3
push this 1
add
pop pointer 1
push that 0
return
function Snake.getLength 0
push argument 0
pop pointer 0
push this 2
return
function Snake.getScreenCoardinations 0
push argument 0
pop pointer 0
push argument 1
push constant 1
add
push constant 10
call Math.multiply 2
return
function Snake.drawPart 2
push argument 0
pop pointer 0
push pointer 0
push argument 1
call Snake.getScreenCoardinations 2
pop local 0
push pointer 0
push argument 2
call Snake.getScreenCoardinations 2
pop local 1
push constant 0
not
call Screen.setColor 1
pop temp 0
push local 0
push local 1
push local 0
push constant 9
add
push local 1
push constant 9
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Snake.drawHead 2
push argument 0
pop pointer 0
push pointer 0
push argument 1
call Snake.getScreenCoardinations 2
pop local 0
push pointer 0
push argument 2
call Snake.getScreenCoardinations 2
pop local 1
push constant 0
not
call Screen.setColor 1
pop temp 0
push local 0
push local 1
push local 0
push constant 9
add
push local 1
push constant 9
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push local 0
push constant 2
add
push local 1
push constant 3
add
call Screen.drawPixel 2
pop temp 0
push local 0
push constant 7
add
push local 1
push constant 3
add
call Screen.drawPixel 2
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 0
return
function Snake.draw 1
push argument 0
pop pointer 0
push constant 1
pop local 0
label WHILE_EXP0
push local 0
push this 2
lt
not
if-goto WHILE_END0
push pointer 0
push local 0
push this 0
add
pop pointer 1
push that 0
push local 0
push this 1
add
pop pointer 1
push that 0
call Snake.drawPart 3
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push pointer 0
push constant 0
push this 0
add
pop pointer 1
push that 0
push constant 0
push this 1
add
pop pointer 1
push that 0
call Snake.drawHead 3
pop temp 0
push constant 0
return
function Snake.moveUp 3
push argument 0
pop pointer 0
push pointer 0
call Snake.getHeadX 1
pop local 0
push pointer 0
call Snake.getHeadY 1
push constant 1
sub
pop local 1
push pointer 0
call Snake.getLength 1
push constant 1
sub
pop local 2
label WHILE_EXP0
push local 2
push constant 0
gt
not
if-goto WHILE_END0
push local 2
push this 0
add
push local 2
push constant 1
sub
push this 0
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 2
push this 1
add
push local 2
push constant 1
sub
push this 1
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 2
push constant 1
sub
pop local 2
goto WHILE_EXP0
label WHILE_END0
push constant 0
push this 0
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push this 1
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Snake.moveDown 3
push argument 0
pop pointer 0
push pointer 0
call Snake.getHeadX 1
pop local 0
push pointer 0
call Snake.getHeadY 1
push constant 1
add
pop local 1
push pointer 0
call Snake.getLength 1
push constant 1
sub
pop local 2
label WHILE_EXP0
push local 2
push constant 0
gt
not
if-goto WHILE_END0
push local 2
push this 0
add
push local 2
push constant 1
sub
push this 0
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 2
push this 1
add
push local 2
push constant 1
sub
push this 1
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 2
push constant 1
sub
pop local 2
goto WHILE_EXP0
label WHILE_END0
push constant 0
push this 0
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push this 1
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Snake.moveLeft 3
push argument 0
pop pointer 0
push pointer 0
call Snake.getHeadX 1
push constant 1
sub
pop local 0
push pointer 0
call Snake.getHeadY 1
pop local 1
push pointer 0
call Snake.getLength 1
push constant 1
sub
pop local 2
label WHILE_EXP0
push local 2
push constant 0
gt
not
if-goto WHILE_END0
push local 2
push this 0
add
push local 2
push constant 1
sub
push this 0
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 2
push this 1
add
push local 2
push constant 1
sub
push this 1
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 2
push constant 1
sub
pop local 2
goto WHILE_EXP0
label WHILE_END0
push constant 0
push this 0
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push this 1
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Snake.moveRight 3
push argument 0
pop pointer 0
push pointer 0
call Snake.getHeadX 1
push constant 1
add
pop local 0
push pointer 0
call Snake.getHeadY 1
pop local 1
push pointer 0
call Snake.getLength 1
push constant 1
sub
pop local 2
label WHILE_EXP0
push local 2
push constant 0
gt
not
if-goto WHILE_END0
push local 2
push this 0
add
push local 2
push constant 1
sub
push this 0
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 2
push this 1
add
push local 2
push constant 1
sub
push this 1
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 2
push constant 1
sub
pop local 2
goto WHILE_EXP0
label WHILE_END0
push constant 0
push this 0
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push this 1
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Snake.move 0
push argument 0
pop pointer 0
push argument 1
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Snake.moveUp 1
pop temp 0
label IF_FALSE0
push argument 1
push constant 2
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
call Snake.moveDown 1
pop temp 0
label IF_FALSE1
push argument 1
push constant 3
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
call Snake.moveLeft 1
pop temp 0
label IF_FALSE2
push argument 1
push constant 4
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push pointer 0
call Snake.moveRight 1
pop temp 0
label IF_FALSE3
push constant 0
return
function Snake.grow 2
push argument 0
pop pointer 0
push this 2
push constant 1
sub
push this 0
add
pop pointer 1
push that 0
pop local 0
push this 2
push constant 1
sub
push this 1
add
pop pointer 1
push that 0
pop local 1
push pointer 0
push argument 1
call Snake.move 2
pop temp 0
push this 2
push this 0
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 2
push this 1
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 2
push constant 1
add
pop this 2
push constant 0
return
function Snake.isAt 1
push argument 0
pop pointer 0
push argument 1
pop local 0
label WHILE_EXP0
push local 0
push this 2
lt
not
if-goto WHILE_END0
push local 0
push this 0
add
pop pointer 1
push that 0
push argument 2
eq
push local 0
push this 1
add
pop pointer 1
push that 0
push argument 3
eq
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
return
label IF_FALSE0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Snake.hitsSelf 0
push argument 0
pop pointer 0
push pointer 0
push constant 1
push constant 0
push this 0
add
pop pointer 1
push that 0
push constant 0
push this 1
add
pop pointer 1
push that 0
call Snake.isAt 4
return
function Snake.dispose 0
push argument 0
pop pointer 0
push this 0
call Array.dispose 1
pop temp 0
push this 1
call Array.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
